@font-face {
  font-family: "GilroyExtraBold";
  font-weight: bold;
  font-style: bold;
  src: 
    url("/fonts/web/gilroyextrabold.woff") format("woff"),
    url("/fonts/web/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "GilroyLight";
  font-weight: lighter;
  font-style: normal;
  src: 
    url("/fonts/web/gilroylight.woff") format("woff"),
    url("/fonts/web/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: 
    url("/fonts/web/opensans.woff") format("woff"),
    url("/fonts/web/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSansLight";
  font-weight: lighter;
  font-style: normal;
  src: 
    url("/fonts/web/opensanslight.woff") format("woff"),
    url("/fonts/web/opensanslight.woff2") format("woff2");
}

body {
  min-width: 1200px;
  /*min-width: 1440px;*/
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSanslight", "Arial", sans-serif;
  letter-spacing: normal;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 0;
  margin-top: 40px;
  box-sizing: border-box;
}

.btn {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}

.btn::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 220px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: #f0c52e;
}

.btn:focus::before,
.btn:hover::before {
  height: 40px;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header {
  position: relative;
}

.page-header .container{
  background-color: #f7e296;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 40px;
}

.page-header__logo {
  position: absolute;
  top: -20px;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header li {
  list-style: none;
  padding-top: 0;
}

.page-header a {
  color: #000000;
}

.user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 40px;
  padding: 0;
  font-size: 15px;
  line-height: 36px;
}

.user-block__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;
  width: 50%;
}

.user-block__search input::-webkit-input-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.3;
}

.user-block__search input::-moz-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.3;
}

.user-block__search input:-moz-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.3;
}

.user-block__search input:-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.3;
}

.user-block__search input:hover::-webkit-input-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.6;
}

.user-block__search input:hover::-moz-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.6;
}

.user-block__search input:hover:-moz-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.6;
}

.user-block__search input:hover:-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0.6;
}

.user-block__search input:focus::-webkit-input-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0; 
}

.user-block__search input:focus::-moz-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0;
}

.user-block__search input:focus:-moz-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0;
}

.user-block__search input:focus:-ms-input-placeholder {
  font-size: 15px;
  color: #000000;
  opacity: 0;
}

.user-block__search a {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-left: 2px;
  font-size: 0px;
  text-decoration: none;
  background-image: url("/img/search.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.user-block__search input {
  position: relative;
  width: 350px;
  margin-left: 16px;
  background-color: transparent;
  color: #000000;
  border: none;
  outline: none;
}

.user-block__search .user-block__btn {
  display: none;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  background: none;
  border: 2px solid #000000;
  outline: none;
}

.user-block__search .user-block__btn::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -380px;
  width: 380px;
  height: 2px;
  background-color: #000000;
}

.user-block__search .user-block__btn:hover {
  display: block;
  background-color: #000000;
  color: #ffffff;
}

.user-block__search .user-block__btn:active {
  display: block;
  color: rgba(255, 255, 255, 0.3);
}

.user-block__search input:focus + .user-block__btn {
  display: block;
}

.user-block__list {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding-left: 0;
}

.user-block__list li {
  padding-left: 0;
}

.user-block__list li:first-child {
  margin-right: auto;
}

.user-block__list li:last-child {
  margin-left: 60px;
}

.user-block__item:hover {
  opacity: 0.6;
}

.user-block__item:active {
  opacity: 0.3;
}

.user-block__item {
  position: relative;
}

.user-block__item--enter a{
  padding-left: 25px;
}

.user-block__item--enter::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("/img/user.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.user-block__item--compare a {
  padding-right: 5px;
}

.user-block__item--compare::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: -23px;
  width: 15px;
  height: 15px;
  background-image: url("/img/compare.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.user-block__item--cart::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url("/img/cart.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.user-block__item--logout {
  opacity: 0.3;
  margin-right: 85px;
}

.main-nav {
  min-height: 183px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.main-nav__item:hover a {
  opacity: 0.6;
}

.main-nav__item:active a {
  opacity: 0.3;
}

.main-nav__item--catalog {
  margin-right: auto;
}

.main-nav__item--warranty {
  margin-left: 36px;
}

.main-nav__item--contacts {
  margin-left: 112px;
  margin-right: -4px;
}

.main-nav__item--catalog::after {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 230px;
  width: 15px;
  height: 15px;
  background-image: url("/img/plus.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-nav__item--catalog:hover .sub-nav {
  display: flex;
}

.sub-nav {
  display: none;
  position: absolute;
  left: -60px;
  width: 1160px;
  z-index: 10;
  margin-bottom: 0;
  padding-left: 60px;
  padding-top: 23px;
  padding-bottom: 34px;
  box-sizing: border-box;
  background-color: #f7e296;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-transform: none;
  cursor: pointer;
}

.sub-nav__list {
  padding-left: 0;
  padding-right: 0px;
}

.sub-nav__list:first-child {
  padding-right: 40px;
}

.sub-nav__item {
  width: 200px;
}

.sub-nav__item:hover {
  opacity: 0.6;
}

.sub-nav__item:active {
  opacity: 0.3;
}

/*-----PROMO-SLIDER-----*/

.promo-slider {
  margin-bottom: 95px;
}

.promo-slider .container {
  margin-top: -110px;
  position: relative;
  padding: 0 20px;
}

.promo-slider .container::before {
  content: " ";
  position: absolute;
  left: 600px;
  top: 36px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slider__item {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
}

.promo-slider__content {
  width: 565px;
  margin-left: 100px;
  padding-left: 25px;
  box-sizing: border-box;
}

.promo-slider__number {
  position: absolute;
  top: 61px;
  right: 30px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 179.2px;
  color: #ffffff;
}

.promo-slider__title {
  margin-bottom: 18px;
  padding-top: 40px;
  letter-spacing: 0.5px;
}

.promo-slider__info {
  margin-bottom: 48px;
  letter-spacing: 0.1px;
}

.promo-slider__btn {
  margin-left: 40px;
  margin-bottom: 49px;
  letter-spacing: 4px;
}

.promo-slider__features {
  display: flex;
  list-style: none;
  padding: 0;
}

.promo-slider__features li {
  display: flex;
  flex-direction: column;
  margin-right: 77px;
}

.promo-slider__features li:last-child {
  margin-right: 0;
}

.promo-slider__value {
  margin-bottom: 10px;
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 36px;
  color: #000000;
}

.promo-slider__attribute {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #464646;
}

.promo-slider__controls {
  position: absolute;
  z-index: 10;
  bottom: 142px;
  right: 72px;
}

.promo-slider__controls label {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  line-height: 12px;
  background-image: url("/img/slider-button-empty.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: scale(0.6);
  cursor: pointer;
}

.button-1:checked ~ .promo-slider__controls label[for="slide-1"],
.button-2:checked ~ .promo-slider__controls label[for="slide-2"],
.button-3:checked ~ .promo-slider__controls label[for="slide-3"] {
  background-image: url("/img/slider-button.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.promo-slider__item {
  display: none;
}

.button-1:checked ~ .promo-slider__item--first,
.button-2:checked ~ .promo-slider__item--second,
.button-3:checked ~ .promo-slider__item--third {
  display: flex;
}


/*-----POPULAR-ITEMS-----*/

.popular .container {
  display: flex;
  padding-left: 0;
  margin-bottom: 85px;
}

.popular__item {
  margin-right: 40px;
}

.popular__item:last-child {
  margin-right: 0;
}

.popular__img {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background-color: #f7e296;
}

.popular__item:hover .popular__img {
  background-color: #f0c52e;
}

.popular__item:active img,
.popular__item:active .popular__title {
  opacity: 0.3;
}

.popular__title {
  display: inline-block;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 21px;
  vertical-align: top;
  color: #000000;
}


/*---SERVICE-SLIDER---*/

.service-slider {
  width: 100%;
  min-height: 390px;
  margin-bottom: 92px;
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.service-slider .container {
  display: flex;
}

.service-slider__controls {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-top: 85px;
  padding-bottom: 40px;
  padding-right: 134px;
  border-right: 8px solid #000000;
}

.service-slider label {
  position: relative;
  z-index: 2;
  margin-bottom: 35px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  text-align: center;
  cursor: pointer;
}

.service-slider label::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 163px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: #f0c52e;
}

.service-slider label:focus::before,
.service-slider label:hover::before {
  height: 40px; 
}

.button-delivery:checked ~ .service-slider__controls label[for="service-1"],
.button-warranty:checked ~ .service-slider__controls label[for="service-2"],
.button-credit:checked ~ .service-slider__controls label[for="service-3"] {
  color: #f7e184;
}

.button-delivery:checked ~ .service-slider__controls label[for="service-1"]::before,
.button-warranty:checked ~ .service-slider__controls label[for="service-2"]::before,
.button-credit:checked ~ .service-slider__controls label[for="service-3"]::before {
  height: 40px; 
  background-color: #000000;
  padding-right: 120px;
  transform: translate(-82px, -20px);
}

.service-slider__content {
  display: none;
  padding-top: 70px;
  padding-left: 115px;
  padding-right: 100px;
  padding-bottom: 0px;
  letter-spacing: 0.25px;
}

.button-delivery:checked ~ .service-slider__content--first,
.button-warranty:checked ~ .service-slider__content--second,
.button-credit:checked ~ .service-slider__content--third {
  display: flex;
}

.service-slider__content h2 {
  margin-top: 0;
  margin-bottom: 26px;
  letter-spacing: 1px;
}

.service-slider__content p {
  width: 440px;
  margin-right: 118px;
}

.service-slider__img {
  align-self: flex-start;
  margin-top: 15px;
  margin-right: 0;
}


/*-----BRANDS-----*/

.brands .container {
  padding: 0;
}

.brands__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.brands__item img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.2;
}

.brands__item img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}


/*-----INFORMATION-----*/


.information .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.about-us {
  position: relative;
  width: 560px;
}

.contacts {
  position: relative;
  width: 560px;
}

.about-us::before,
.contacts::before {
  content: " ";
  position: absolute;
  top: 43px;
  left: 0px;
  width: 80px;
  height: 8px;
  background-color: #000000;
}

.about-us__title,
.contacts__title {
  margin-top: 92px;
  letter-spacing: 0.2px;
}

.about-us__info {
  width: 475px;
  margin-bottom: 30px;
}

.about-us__delivery {
  list-style: none;
  margin-top: 66px;
  margin-bottom: 59px;
  padding-left: 35px;
}

.about-us__delivery li {
  position: relative;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  text-transform: capitalize;
}

.about-us__delivery li::before {
  content: " ";
  position: absolute;
  top: 16px;
  left: -34px;
  width: 4px;
  height: 4px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts__info {
  margin-bottom: 38px;
}

.about-us__btn,
.contacts__btn {
  margin-left: 20px;
  font-size: 18px;
  letter-spacing: 3.8px;
}

.about-us__btn::before,
.contacts__btn::before {
  width: 260px;
}

.map__image {
  margin-bottom: 66px;
  background-color: #eeeeee;
}

.contacts__btn {
  margin-left: 38px;
}


/*-----PAGE-FOOTER-----*/

.page-footer {
  width: 100%;
  margin-top: 87px;
  background-color: #464646;
  color: #ffffff;
}

.page-footer .container {
  padding: 0;
}

.page-footer a {
  color: #ffffff;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.page-footer__logo {
  margin-top: 20px;
}

.page-footer__logo:hover {
  opacity: 0.6;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.user-block--footer {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.user-block--footer .user-block__item {
  padding-left: 65px;
  opacity: 0.7;
}

.user-block--footer .user-block__item:hover {
  opacity: 1;
}

.user-block--footer .user-block__item:active {
  opacity: 0.3;
}

.page-footer__middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 6px;
}

.page-footer__nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-footer__item {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  font-size: 18px;
  line-height: 35px;
}

.page-footer__nav a {
  margin-right: 32px;
}

.page-footer__item:last-child a {
  margin-right: 0;
}

.page-footer__nav a:hover {
  opacity: 0.6;
}

.page-footer__nav a:active {
  opacity: 0.3;
}

.page-footer__phone {
  margin-left: 34px;
  font-family: "OpenSansLight", "Arial", sans-serif;
}

.page-footer__bottom {
  display: flex;
  position: relative;
  padding-bottom: 50px;
}

.page-footer__bottom::before {
  content: "";
  position: absolute;
  display: block;
  top: 31px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social {
  margin: 0 auto;
  margin-top: 18px;
}

.social a {
  margin-right: 22px;
  font-size: 0;
  opacity: 0.3;
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.social a:last-child {
  margin-right: 0;
  padding-right: 0;
}

.page-footer__copyright {
  margin-top: 17px;
  font-size: 0;
  margin-left: -26px;
}

.page-footer__copyright:hover {
  opacity: 0.6;
}

.page-footer__copyright:active {
  opacity: 0.3;
}


/*-----CATALOG PAGE-----*/

.page-header--catalog {
  margin-bottom: 33px;
}

.main-nav--catalog {
  min-height: 70px;
}

.breadcrumps .container {
  margin-top: 0;
  padding-left: 60px;
}

.breadcrumps__title {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

.breadcrumps__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.breadcrumps__list li {
  padding-right: 38px;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.1px;
  opacity: 0.3;
}

.breadcrumps__list a:hover {
  opacity: 0.6;
}

.breadcrumps__list a:active {
  opacity: 0.1;
}

/*-----CATALOG-----*/

.catalog {
  background:
    linear-gradient(180deg, #dcdcdc 70px, #eeeeee 70px),
    linear-gradient(180deg, #efefef 70px, #ffffff 70px);
  background-position: 0%, 32.5%;
  background-size: 32.5% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: -40px;
}


.catalog__wrapper {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*-----FILTER-----*/

.filter {
  padding-right: 60px;
  padding-left: 55px;
}

.filter__form {
  position: relative;
}

.filter__item {
  position: relative;
  border: none;
}

.filter__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 202px;
  height: 3px;
  background-color: #000000;
}

.filter__item--price {
  margin-top: 70px;
  margin-bottom: 24px;
}

.filter__title h3 {
  margin: 0;
  padding: 20px;
  padding-left: 5px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  line-height: 28px;
}

.filter__name {
  margin-left: -10px;
  padding-top: 10px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.range__slider {
  position: relative;
  margin-top: 25px;
  margin-bottom: 6px;
}

.range__scale {
  height: 2px;
  width: 190px;
  background-color: #dbdbdb;
}

.range__bar {
  height: 2px;
  width: 110px;
  background-color: #91c92f;
}

.range__toggle {
  content: "";
  position: absolute;
  top: -11px;
  width: 24px;
  height: 24px;
  background-image: url(/img/filter-button.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.range__toggle--min {
  left: -17px;
}

.range__toggle--max {
  left: 97px;
}

.range__toggle:active {
  transform: scale(1.1);
}

.range__price {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -10px;
}

.range__price label {
  width: 70px;
  margin-top: 4px;
  margin-right: 20px;
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  opacity: 0.2;
}

.range__price input {
  width: 50px;
  padding-left: 5px;
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  background-color: #eeeeee;
  color: #000000;
  opacity: 0.6;
  vertical-align: bottom;
  border: none;
  outline: none;
}

.range__price--min,
.range__price--max {
  display: flex;
}

.filter__item--color,
.filter__item--bluetooth {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  margin-bottom: 18px;
}

.filter__checkbox,
.filter__radio {
  position: relative;
  padding-left: 27px;
  margin-bottom: 10px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.filter__checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -11px;
  width: 27px;
  height: 27px;
  background-image: url(/img/checkbox-off.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter__checkbox:hover::before {
  opacity: 0.6;
}

.filter__checkbox:active::before {
  opacity: 1;
}

input[type="checkbox"]:checked + .filter__checkbox::before {
  background-image: url(/img/checkbox-on.svg);
}

.filter__radio::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -11px;
  width: 30px;
  height: 30px;
  background-image: url(/img/radio-off.svg);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter__radio:hover::before {
  opacity: 0.6;
}

.filter__radio:active::before {
  opacity: 1;
}

input[type="radio"]:checked + .filter__radio::before {
  background-image: url(/img/radio-on.svg);
}

.filter__btn {
  margin-left: 37px;
  margin-top: 7px;
  letter-spacing: 3.6px;
  background-color: transparent;
  border: none;
  outline: none;
}

.filter__btn::before {
  width: 200px;
}


/*-----SORTING-----*/

.sorting {
  margin: 0;
  padding: 0;
  padding-left: 68px;
}

.sorting__range {
  display: flex;
  
  flex-wrap: nowrap;
  width: auto;
  flex-grow: 1;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
}

.sorting__title {
  margin: 0;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  line-height: 28px;
}

.sorting__category {
  display: flex;
  margin-left: 10px;
  list-style: none;
}

.sorting__item {
  padding-right: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.sorting__item:hover {
  opacity: 0.6;
}

.sorting__category .active,
.sorting__item:active {
  opacity: 1;
}

.sorting__arrows {
  display: flex;
  justify-content: space-between;
  width: 46px;
  height: 30px;
  margin-left: auto;
  font-size: 0px;
}

.sorting__btn {
  display: block;
  width: 20px;
  height: 15px;
  margin-top: 8px;
  opacity: 0.2;
  border: none;
  background-color: inherit;
  background-image: url("/img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.sorting__btn:hover {
  opacity: 0.4;
}

.sorting__arrows .active,
.sorting__btn:active {
  opacity: 1;
}

.sorting__btn--down {
  margin-right: -5px;
}

.sorting__btn .active {
  opacity: 1;
}

.sorting__btn--down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*-----PRODUCT-----*/

.product {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  margin-right: auto;
  margin-bottom: 33px;
}

.product__item:nth-child(2n) {
  margin-right: 0;
}


.product__wrapper {
  position: relative;
}

.product__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding-top: 177px;
  background-color: rgba(238, 238, 238, 0.7);
  text-align: center;
  box-sizing: border-box;
}

.product__hover .btn::before {
  width: 200px;
}

.product__cart,
.product__compare {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.product__cart {
  margin-bottom: 10px;
  letter-spacing: 3.7px;
}

.product__compare {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: #000000;
  opacity: 0.5;
}

.product__compare:hover {
  opacity: 1;
}

.product__compare:active {
  opacity: 0.2;
}

.product__image:hover ~ .product__hover,
.product__hover:hover {
  display: block;
}

.product__image {
  background-color: #eeeeee;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.product__title {
  width: 255px;
  padding-top: 5px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 22px;
  letter-spacing: 0.1px;
  vertical-align: top;
}

.product__title a {
  color: #000000;
}

.product__price {
  padding-top: 20px;
  font-family: "GilroyLight", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
}

/*-----PAGINATION-----*/

.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 760px;
  height: 72px;
  margin-bottom: 78px;
  margin-top: -15px;
  background-color: #efefef;
}

.pagination__list {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination li,
.pagination a {
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}

.pagination__item {
  opacity: 0.3;
}

.pagination__item:hover {
  opacity: 0.6;
}

.pagination__active:active,
.pagination__active:hover,
.pagination__active,
.pagination__item:active {
  opacity: 1;
}

.pagination__back {
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
}

.pagination__forward {
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
}

.pagination__back:hover,
.pagination__forward:hover {
  background-color: #d9d9d9;
  opacity: 1;
}

.pagination__back:active,
.pagination__forward:active {
  color: rgba(172, 172, 172, 0.3);
}


/*-----PAGE-FOOTER-----*/

.page-footer--catalog {
  margin-top: 0;
}

/*-----MODAL-----*/

.write-us {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 961px;
  padding-top: 95px;
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.write-us__open {
  display: block;
}

.write-us form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.write-us__close {
  position: absolute;
  content: "";
  top: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  font-size: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(/img/modal-close.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
}

.write-us__close:hover {
  opacity: 1;
}

.write-us__close:active {
  opacity: 0.3;
}

.write-us__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 15px;
}

.write-us__field--name {
  width: 360px;
  padding-right: 41px;
}

.write-us__field--email {
  width: 360px;
  padding-left: 0px;
}

.write-us__field label {
  width: 100%;
  margin-bottom: 10px;
  font-family: "GilroyExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.write-us__field input {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
}

.write-us__field input:hover {
  background-color: #eaeaea;
}

.write-us__field input:focus {
  background-color: #ffffff;
  outline-color: #f7e296;
}

.write-us__field input:invalid {
  background-color: #f6dada;
}

.write-us__field input::-webkit-input-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field input::-moz-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field input:-moz-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field input:-ms-input-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field input:focus::-webkit-input-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field input:focus::-moz-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field input:focus:-moz-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field input:focus:-ms-input-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field textarea {
  width: 722px;
  height: 120px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 38px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
  resize: none;
  border: none;
}

.write-us__field textarea:hover {
  background-color: #eaeaea;
}

.write-us__field textarea:focus {
  background-color: #ffffff;
  outline-color: #f7e296;
}

.write-us__field textarea:invalid {
  background-color: #f6dada;
}

.write-us__field textarea::-webkit-input-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field textarea::-moz-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field textarea:-moz-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field textarea:-ms-input-placeholder {
  color: #464646;
  opacity: 0.4;
}

.write-us__field textarea:focus::-webkit-input-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field textarea:focus::-moz-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field textarea:focus:-moz-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__field textarea:focus:-ms-input-placeholder {
  color: #464646;
  opacity: 0;
}

.write-us__btn {
  margin-left: 95px;
  margin-right: 0px;
  margin-bottom: 55px;
  padding-left: 40px;
  padding-right: 47px;
  letter-spacing: 3.6px;
  background: none;
  border: none;
  outline: none;
}

.write-us__btn::before {
  width: 200px;
}

/*-----MODAL-MAP-----*/


.map__popup {
  position: fixed;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.map__open {
  display: block;
}

.map__close {
  position: absolute;
  content: "";
  top: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  font-size: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(/img/modal-close.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
}

.map__close:hover {
  opacity: 1;
}

.map__close:active {
  opacity: 0.3;
}